<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        *{
            margin: 10px;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <h1 style="align:center">Search page</h1>
    
    <form action="/weatherapp" method="post">
        Enter city:<input type="text" id="city" name="city"><br>
        Enter units:<input type="text" id="units" name="units"><br>
        Enter api key:<input type="text" id="api" name="api"><br>
        <input type="submit" value="Search">


    </form>
</body>
</html>